<?xml version='1.0' encoding='UTF-8'?>
<Settings><Attributes version="1"><LastLoadedCSVR>C:\Users\Shay\Documents\GitHub\MOST\etc\csv\Model Reconstruction-new_metabolites.csv</LastLoadedCSVR><LastLoadedSBML>C:\Users\Shay\Documents\GitHub\MOST\test.xml</LastLoadedSBML><LastLoadedCSVM>C:\Users\Shay\Documents\GitHub\MOST\etc\csv\Model Reconstruction-mtb-raw.csv</LastLoadedCSVM></Attributes></Settings>