<?xml version='1.0' encoding='UTF-8'?>
<Settings><Attributes version="1"><LastSBML>C:\Users\Shay\Documents\GitHub\MOST\csvExample.xml</LastSBML><LastCSVR>C:\Users\Shay\Documents\GitHub\MOST\etc\csv\Model Reconstruction-new_reactions.csv</LastCSVR><LastCSVM>C:\Users\Shay\Documents\GitHub\MOST\etc\csv\Model Reconstruction-new_metabolites.csv</LastCSVM><LastSaveSBML>C:\Users\Shay\Documents\GitHub\MOST\csvExample.xml</LastSaveSBML></Attributes></Settings>